<h1>CookBook</h1>
<p>Bem-vindo ao maior livro de receitas online</p>
<hr>

<div class="row">
  <div class="col-md-4">
    <h1>Cuisines =)</h1>
    <% @cuisines.each do |cuisine|%>
    <li><%=  link_to  cuisine.name, cuisine %></li>
    <% end %>
  </div>
  <div class="col-md-4">
    <p><%= flash[:message] %></p>
    <h1>Recipe Types</h1>
    <% @recipe_types.each do |recipe_type| %>
      <li>  <%= link_to recipe_type.name, recipe_type , class: "btn btn-default" %></li>
    <% end %>
  </div>
  <div class="col-md-4">
    <h1>Receitas</h1>
    <% @last_six_recipes.each do |recipe|%>
    <% if recipe.featured? %>
      <%= image_tag 'star.png' %>
    <% end %>
    <hr>
      <h1><%= link_to recipe.title , recipe %></h1>
      <li><%= recipe.recipe_type.name %></li>
      <li><%= recipe.difficulty %></li>
      <li><%= recipe.cook_time %> minutos</li>
    <% end %>
  </div>
</div>


<%= link_to 'Enviar uma receita', new_recipe_path, class: 'btn btn-default'%>
